/* .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-title {
    font-size: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }

  .modal-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .held-items {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

  .held-item-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searched-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.searched-items li {
    margin-bottom: 10px;
    cursor: pointer;
}

.show-all-button {
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container {
  border-radius: 20px;
  overflow: hidden;
}

.modal-content {
  background-color: #fcf8f8;
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.held-items {
    list-style: none;
    padding: 0;
}

.held-items li {
    margin-bottom: 10px;
    cursor: pointer;
}

.held-items li:hover {
    text-decoration: underline;
}

.show-all-items-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}